#!/usr/bin/env bash

# Usage:
# $ source ./run_pilot_tests.sh "s3-bucket-for-test"
# $ source ./run_pilot_tests.sh "s3-bucket-for-test" --nocapture
# $ source ./run_pilot_tests.sh "s3-bucket-for-test" --nocapture s3api::get_object

export PLUS_TEST_BUCKET=$1
pilot_args=("${@:2}")

PLUS_APPS_DIR=$(pwd)
export PLUS_APPS_DIR

PLUS_WORKSPACE_DIR=$(pwd)/wsb-pilot-workspace
export PLUS_WORKSPACE_DIR

./wsb_pilot_tests "${pilot_args[@]}"
